<style>
.box{
	width:60%;
	margin: 100px auto;
}
.box .experiment.inactive{
	visibility:hidden;
}
.box .experiment.active{
	visibility:visible;
}

</style>
<div ng-init="model.getPasswords()" class="box">
	<a ng-click="model.logout()"
       class="btn btn-primary btn-block">
        Logout
    </a>
	<hr />
	<div ng-repeat="experiment in model.experiments">
		Experiment password:{{experiment.expID}}
		<br />
		<button class="btn btn-primary" ng-click="model.showExperiment($index)">Click to see details</button>
		<a class="btn" ng-click="model.deleteExperiment(experiment)">DELETE</a>
		<hr/>
		<div  ng-show = "$index === model.activeExperiment">
			<div ng-repeat="question in experiment.questions">
				File:{{question.file}}
				<br/>
				Question:{{question.description}}
				<br/>
				Answers:{{question.options}}
				<hr/>
			</div>
			
		</div>
		
		
	</div>
	





</div>